<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.table.zzimkong.mapper.CeoMapper">

	<insert id="insertMenu">
		insert into menu (menu_idx, com_id, menu_name, menu_price, menu_describe, menu_img)
		values 
			(null,#{com_id} ,#{menu.menu_name}, #{menu.menu_price}, #{menu.menu_describe}, #{menu.menu_img})
	</insert>
	
	<select id="selectMycompanyList" resultType="company">
		SELECT *
		FROM company
		WHERE user_idx = #{sIdx}
	</select>
	
	<select id="selectMenu" resultType="menu">
		SELECT * 
		FROM menu
		WHERE menu_idx = #{menu_idx}
	</select>
	
	<update id="updateMenu">
		UPDATE menu
		SET menu_name = #{menu_name}
		, menu_price = #{menu_price}
		, menu_describe = #{menu_describe}
		, menu_img = #{menu_img}
		WHERE menu_idx = #{menu_idx}
	</update>
	
	<delete id="deleteMenu">
		DELETE FROM menu
		WHERE menu_idx = #{menu_idx}
	</delete>
	
	<insert id="insertCompanyInfo">
		INSERT INTO company
		VALUES (
			null
			,#{com.user_idx}
			,#{com.com_name}
			,#{com.com_category}
			,#{com.com_ceo}
			,#{com.com_address}
			,#{com.com_tel}
			,#{com.com_gugun}
			,#{com.com_open_time}
			,#{com.com_close_time}
			,#{com.com_breakStart_time}
			,#{com.com_breakEnd_time}
			,#{com.com_num}
			,#{com.com_img}
			,#{com.com_max_people}
			,#{com.com_tag_date}
			,#{com.com_tag_family}
			,#{com.com_tag_party}
			,#{com.com_tag_quiet}
			,#{com.com_tag_park}
			,#{com.com_tag_kids}
			,#{com.com_tag_disabled}
			,#{com.com_tag_pet}
			,#{com.com_tag_hall}
			,#{com.com_tag_room}
			,#{com.com_tag_terrace}
			,#{com.com_tag_window}
			,null
			,null
			,2 -- 신청후 승인대기
			,#{com.com_ad_grade}
			,#{com.com_search_tag}
			,current_timestamp()
			,#{com.open_date}
		)
	</insert>
	<select id="selectEachCompany" resultType="company">
		SELECT *
		FROM company
		WHERE com_num = #{com_num}
	</select>
	<update id="updateComStatus">
		UPDATE company
		SET com_status = #{com_status}
		WHERE com_num = #{com_num};
	</update>
	<update id="updateAdGrade">
		UPDATE company
		SET com_ad_grade = #{com_ad_grade}
		WHERE com_num = #{com_num};
	</update>
	<update id="updateStatusClose">
		UPDATE company
		SET com_status = 4
		WHERE com_num = #{com_num};
	</update>
	<update id="updateCompany">
		UPDATE company
		SET  com_tel = #{com_tel}
			,com_open_time = #{com_open_time}
			,com_close_time = #{com_close_time}
			,com_breakStart_time = #{com_breakStart_time}
			,com_breakEnd_time = #{com_breakEnd_time}
			<if test="!com_img.equals('')">
				,com_img = #{com_img}
			</if>
			,com_max_people = #{com_max_people}
			,com_tag_date = #{com_tag_date}
			,com_tag_family = #{com_tag_family}
			,com_tag_party = #{com_tag_party}
			,com_tag_quiet = #{com_tag_quiet}
			,com_tag_park = #{com_tag_park}
			,com_tag_kids = #{com_tag_kids}
			,com_tag_disabled = #{com_tag_disabled}
			,com_tag_pet = #{com_tag_pet}
			,com_tag_hall = #{com_tag_hall}
			,com_tag_room = #{com_tag_room}
			,com_tag_terrace = #{com_tag_terrace}
			,com_tag_window = #{com_tag_window}
			,com_ad_grade = #{com_ad_grade}
			,com_search_tag = #{com_search_tag}
		WHERE com_num = #{com_num};
	</update>
	
	<select id="selectCeoList" resultType="company">
		SELECT * FROM company WHERE user_idx = #{sIdx}
	</select>
	<select id="selectUser" resultType="member">
		SELECT * FROM user WHERE user_id = #{sId}
	</select>
	<select id="selectComNum" resultType="company">
		SELECT com_num FROM company WHERE com_num = #{com_num}
	</select>
	
	<!-- ceo_reservation -->
	<select id="selectResInfo" resultType="res">
		SELECT *
		FROM reservation
		WHERE com_id = #{com_id} AND res_date = CURDATE()
		ORDER BY
			res_time DESC
	</select>

	<select id="selectResDetailInfo">
		SELECT *
		FROM reservation
		WHERE res_idx = #{res_idx}
	</select>
	
	<insert id="insertPreOrder">
		INSERT INTO pre_order
		VALUES(
			null
			, #{res_idx}
			, #{menu_idx}
			, #{pre_num}
		)
	</insert>
	
	<select id="selectPreInfo" resultType="poi">
		SELECT pre.pre_idx, pre.pre_num, pre.menu_idx, menu.menu_name, menu_price 
		FROM pre_order pre , menu
		WHERE res_idx = #{res_idx} AND pre.menu_idx = menu.menu_idx
	</select>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</mapper>