<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.table.zzimkong.mapper.CsMapper">

	<select id="selectMember" resultType="member">
		select * 
		FROM user
		WHERE user_idx = #{sIdx}
	</select>
	
	<select id="selectBoard" resultType="cs">
		SELECT * 
		FROM cs_board
		<where>
			AND cs_board_category_user = #{member.user_category}
			AND cs_board_category_main = #{category}
			<if test="category == 3">
				AND (user_id = #{member.user_id}
                OR cs_board_re_ref IN (
                    SELECT cs_board_num 
                    FROM cs_board 
                    WHERE user_id = #{member.user_id}
                ))
			</if>
			<if test="board.searchFAQ != null and !board.searchFAQ.equals('') ">
				AND cs_board_subject LIKE CONCAT('%', #{board.searchFAQ}, '%')
			</if>
			<if test="board.sdate != null and !board.sdate.equals('')">
				AND cs_board_date BETWEEN #{board.sdate} AND #{board.edate}
			</if>
			<if test="board.cs_board_category_sub != null and board.cs_board_category_sub != 0">
				AND cs_board_category_sub = #{board.cs_board_category_sub}
			</if>
			
			ORDER BY
				cs_board_re_ref DESC
				, cs_board_re_seq ASC
		</where>
	</select>
	<insert id="insertBoard">
		<selectKey keyProperty="cs_board_num" resultType="int" order="BEFORE">
			SELECT IFNULL(MAX(cs_board_num),0)
			FROM cs_board
		</selectKey>
		
		INSERT INTO cs_board
		VALUES(
			#{cs_board_num} +1
			,#{user_id}
			,#{cs_board_subject}
			,#{cs_board_content}
			,#{cs_board_num} +1
			,0
			,0
			,0
			,now()
			,#{cs_board_category_user}
			,#{cs_board_category_main}
			,#{cs_board_category_sub}
			,#{cs_board_img_1}
			,#{cs_board_img_2}
			,#{cs_board_img_3}
			,#{cs_board_img_4}
			,#{cs_board_img_5}
		)
	</insert>
	
	<select id="selectBoardDetail" resultType="cs">
		SELECT * 
		FROM cs_board
		WHERE cs_board_num = #{cs_board_num}
	</select>
	
	<update id="updateQnaBoard">
		UPDATE cs_board
		SET cs_board_subject = #{cs_board_subject}
			, cs_board_content = #{cs_board_content}
			<if test="cs_board_img_1 != null and !cs_board_img_1.equals('')">
				, cs_board_img_1 = #{cs_board_img_1}
			</if>
			<if test="cs_board_img_2 != null and !cs_board_img_2.equals('')">
				, cs_board_img_2 = #{cs_board_img_2}
			</if>
			<if test="cs_board_img_3 != null and !cs_board_img_3.equals('')">
				, cs_board_img_3 = #{cs_board_img_3}
			</if>
			<if test="cs_board_img_4 != null and !cs_board_img_4.equals('')">
				, cs_board_img_4 = #{cs_board_img_4}
			</if>
			<if test="cs_board_img_5 != null and !cs_board_img_5.equals('')">
				, cs_board_img_5 = #{cs_board_img_5}
			</if>
		WHERE
			cs_board_num = #{cs_board_num}

	</update>
			
	<delete id="deleteQnaBoard">
		DELETE FROM cs_board
		WHERE cs_board_num = #{cs_board_num}
	</delete>
	
</mapper>