<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.table.zzimkong.mapper.MemberMapper">

<!-- 회원가입 [INSERT] -->
<insert id="insertMember">
	INSERT 
	INTO user
	VALUES (
<!-- 		null -->
<!-- 		, #{user_id} -->
<!-- 		, #{user_passwd} -->
<!-- 		, #{user_nick} -->
<!-- 		, CONCAT(#{user_email1}, '@', #{user_email2}) -->
<!-- 		, #{user_name} -->
<!-- 		, #{user_birth} -->
<!-- 		, #{com_num} -->
<!-- 		, now() -->
<!-- 		, "ds" -->
<!-- 		, '1' -->
<!-- 		, '1' -->
<!-- 		, '1' -->
<!-- 		, '11' -->
<!-- 		, '1' -->
<!-- 		, #{user_category} -->
<!-- 		) -->

<!-- ================================= -->
		null
		, #{user_id}
		, #{user_passwd}
		, #{user_nick}
		, CONCAT(#{user_email1}, '@', #{user_email2})
		, #{user_name}
		, #{user_birth}
		, #{com_num}
		, now()
		, #{user_phone}
		, 1
		, 1
		, 1
		, #{user_category}
		)
	
</insert>

<!-- 회원 아이디정보 조회 select -->
<select id="selectId"  resultType="member">
	SELECT *
	FROM user
	WHERE user_id = #{user_id}
</select>

<!-- 회원 닉네임정보 조회 select -->
<select id="selectNick"  resultType="member">
	SELECT *
	FROM user
	WHERE user_nick = #{user_nick}
</select>


</mapper>