<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.table.zzimkong.mapper.MypageMapper">

	<!-- 회원정보 조회 - SELECT -->
	<select id="selectMember"  resultType="member">
	SELECT *
	FROM user
	WHERE user_id = #{user_id}
	</select>
	
	<!-- 닉네임 중복확인 - SELECT -->
	<select id="selectUserNick"  resultType="member">
	SELECT *
	FROM user
	WHERE user_nick = #{user_nick}
	</select>
	
	<!-- 회원정보 수정 - UPDATE -->
	<!-- @Param 어노테이션을 통해 파라미터 이름을 지정했으므로 #{파라미터명.xxx} 형식으로 객체 접근 -->
	<!-- 단, 새 패스워드(newPasswd)는 null 또는 널스트링이 아닐 경우에만 변경 -->
	<update id="updateMember">
		UPDATE member
		SET
			user_name = #{member.user_name}
			, user_birth = #{member.user_birth}
			, user_nick = #{member.user_nick}
			
			<!-- 새 패스워드(newPasswd) 존재 여부에 따라 변경 여부 결정 -->
			<!-- 주의! 비교에 사용될 파라미터는 #{} 제외하고 표현 -->
			<if test="newPasswd != null and !newPasswd.equals('')">
				, user_passwd = #{newPasswd}  -- 새 패스워드 존재할 경우 기존 패스워드 변경
			</if>
			, user_email = CONCAT(#{member.email1}, '@', #{member.email2}) -- email1, email2 문자열 결합
		WHERE
			user_id = #{member.user_id}
	</update>
	
	<!-- 예약내역 조회 - SELECT -->
	<select id="selectResList">
		SELECT *
		FROM reservation, company
		WHERE user_idx = #{sIdx} AND #{com_id} 
		ORDER BY res_idx DESC;
	</select>
	
	<!-- 회사명 조회 - SELECT -->
<!-- 	<select id="selectCom"> -->
<!-- 		SELECT com_name -->
<!-- 		FROM company -->
<!-- 		WHERE com_id = #{com_id} -->
<!-- 	</select> -->


</mapper>