<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.table.zzimkong.mapper.PaymentMapper">
    <!-- [payment/payment] -->
	<select id="selectResForPay" resultType="res">
		 SELECT *
		 FROM reservation
		 WHERE res_num = #{res_num}
	</select>
	
	<select id="selectPoint" resultType="int">
		SELECT sum(point_value) 
		FROM point
		WHERE point_status != 2
		GROUP BY user_idx 
		HAVING user_idx = #{user_idx}
	</select>
	
	<select id="selectResCom" resultType="company">
		SELECT com_name, com_address
		FROM company
		WHERE com_id = #{com_id}
	</select>

	<select id="selectPreOrder" resultType="poi">
		SELECT pre.pre_num, pre.menu_idx, menu.menu_name, menu_price 
		FROM pre_order pre , menu
		WHERE res_idx = #{res_idx} AND pre.menu_idx = menu.menu_idx;
	</select>
	
	<!-- [paymentPro] -->
	<insert id="insertPayment">
		INSERT
		INTO payment
		VALUES (
			null
			, #{payNum}
			, #{res.res_idx}
			, #{sIdx}
			, #{payment.pay_method}
			, #{payment.pay_per_price}
			, #{payment.pay_po_price}
			, now()
			, #{payment.pay_card_co}
			, #{payment.per_info_consent}
			, 1 -- pay_status
			, #{payment.pay_on_site}
			
		)
	</insert>
	
	<insert id="insertSubUsedPoint">
		INSERT
		INTO point
		VALUES (
			null
			, #{sIdx}
			, #{discountPoint}
			, 4
			, null
			, 1
			, now()
		)
	</insert>

	<insert id="insertAddPoint">
		INSERT
		INTO point
		VALUES (
			null
			, #{sIdx}
			, #{earnedPoints}
			, 1
			, null
			, 1
			, now()
		)
	</insert>

	<!-- 예약테이블에 결제상태 update -->	
	<update id="updateReservationStatus">
		UPDATE reservation
		SET res_pay_status = 1
		WHERE res_num = #{res_num}
	</update>
	
	<!-- [ payment_info ] -->
	<select id="selectMember" resultType="member">
		SELECT *
		FROM user
		WHERE user_id = #{sId}
	</select>
	<select id="selectResultRes" resultType="res">
		SELECT * 
		FROM reservation
		WHERE user_idx = #{user_idx}
	</select>
	<select id="selectPayment" resultType="payment">
		SELECT * 
		FROM payment
		WHERE pay_num = '${payNum}' 
	</select>
</mapper>