<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.table.zzimkong.mapper.PaymentMapper">
	<select id="selectResForPay" resultType="res">
		 SELECT *
		 FROM reservation
		 WHERE res_num = #{res_num}
	</select>
	
	<select id="selectPoint" resultType="int">
		SELECT sum(point_value) 
		FROM point
		WHERE point_status != 2
		GROUP BY user_idx 
		HAVING user_idx = #{user_idx}
	</select>
	
	<select id="selectResCom" resultType="company">
		SELECT com_name, com_address
		FROM company
		WHERE com_id = #{com_id}
	</select>

	<select id="selectPreOrder" resultType="poi">
		SELECT pre.pre_num, pre.menu_idx, menu.menu_name, menu_price 
		FROM pre_order pre , menu
		WHERE res_idx = #{res_idx} AND pre.menu_idx = menu.menu_idx;
	</select>
	
	<insert id="insertSubUsedPoint">
		INSERT
		INTO point
		VALUES (
			null
			, #{user_idx}
			, #{discountPoint}
			, 4
			, null
			, 1
			, now()
		)
	</insert>

	<insert id="insertAddPoint">
		INSERT
		INTO point
		VALUES (
			null
			, #{user_idx}
			, #{earnedPoints}
			, 1
			, null
			, 1
			, now()
		)
	</insert>
	
	
	
	
</mapper>