<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.table.zzimkong.mapper.ReservationMapper">
<!-- 	<insert id="insertReservation"> -->
<!-- 		INSERT  -->
<!-- 		INTO reservation  -->
<!-- 		VALUES( -->
<!-- 			#{res_idx} -->
<!-- 			, #{res_num} -->
<!-- 			, #{com_id} -->
<!-- 			, #{user_idx} -->
<!-- 			, #{res_date} -->
<!-- 			, #{res_time} -->
<!-- 			, #{res_table_price} -->
<!-- 			, #{res_person} -->
<!-- 			, #{res_name} -->
<!-- 			, #{res_phone} -->
<!-- 			, #{res_status} -->
<!-- 			, now() -->
<!-- 			, #{res_pay_status} -->
<!-- 			, #{res_request} -->
<!-- 			, #{pre_idx} -->
<!--  -->		<!--  ) -->
<!-- 	</insert> -->
	
<!-- 	<select id="selectResInfo" resultType="res"> -->
<!-- 		  SELECT c.com_name, r.res_date, r.res_time, r.res_person, r.res_table_price -->
<!--   			FROM company c, reservation r -->
<!--  			WHERE com_id = r.com_id -->
<!-- 	</select> -->
		
		<select id="selectComName" resultType="company">
			SELECT *
			FROM company
			WHERE com_id = #{com_id}
		</select>
		
<!-- 		<select id="selectResInfo" resultType="res"> -->
<!-- 			SELECT * FROM reservation -->
<!-- 			WHERE user_idx = #{user_idx} -->
<!-- 		</select> -->
		
<!-- 		<select id="selectPreOrder" resultType="poi"> -->
<!-- 			SELECT p.pre_num, p.menu_idx, menu.menu_name, menu_price -->
<!-- 			FROM pre_order p, menu -->
<!-- 			WHERE res_idx = #{res_idx} AND p.menu_idx = menu.menu_idx -->
<!-- 		</select> -->
		
		<select id="selectUserInfo" resultType="member">
			SELECT user_name, user_phone
			FROM user
			WHERE user_idx = #{user_idx}
		</select>
		
<!-- 		<update id="updateResInfo"> -->
<!-- 			UPDATE reservation -->
<!-- 			SET	 -->
<!-- 				res_num = #{res_num} -->
<!-- 				, res_name = #{res_name} -->
<!-- 				, res_phone = #{res_phone} -->
<!-- 				, res_now = CURRENT_TIMESTAMP -->
<!-- 				, res_request = #{res_request} -->
<!-- 			WHERE -->
<!-- 				res_idx = #{res_idx}; -->
<!-- 		</update> -->
		<insert id="insertResInfo">
			INSERT INTO reservation
			VALUES ( null
				, #{res_num}
				, #{com_id}
				, #{user_idx}
				, #{res_date}
				, #{res_time}
				, #{res_table_price}
				, #{res_person}
				, #{res_name}
				, #{res_phone}
				, #{res_status}
				, now()
				, #{res_pay_status}
				, #{res_request}
			)
		</insert>
		
	<select id="selectResIdx" resultType="res">
		SELECT * 
		FROM reservation
		WHERE res_num = #{res_num}
	</select>	
		
	<insert id="insertPreOrder">
	    INSERT INTO pre_order (res_idx, menu_idx, pre_num) 
	    VALUES   <!--item   var  -->
	    <foreach collection="res, menu_idx, pre" item="menu" separator=",">
	        (null, #{menu.res.res_idx}, #{menu.menu_idx.menu_idx}, #{menu.pre.pre_num})
	    </foreach>
	</insert>
		
		

</mapper>