@charset "UTF-8";


body {
    padding: 0 20%;
    line-height: 1.6;
}

h3 {
    color: #515151;
    margin-bottom: 30px;
    font-size: 30px;
    /* 하이라이트 CSS 추가 */
    display: inline; /* 글자 길이에 맞게 */
    margin-bottom: 20px !important; 
}

.article {
	display: block;
	border: none;
	background-color: #fff;
	margin-top: 60px;
}

.text {
	display: block;
	width: 1200px;
	padding: 0 30px;
    margin: 0 auto;
}

input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 12px;
}
	
/* 드롭다운 CSS */
select {
    width: 100%;
    height: 35px;
    background: #eff7fe;
    color: #333;
    padding: 5px;
    border-radius: 5px;
    border-color: #eff7fe;
}

	
/* 버튼 CSS */
/* button[type="button"], button[type="submit"], button[type="reset"] { */
    
/*     text-decoration: none; */
/*     display: inline-block; */
/*     transition-duration: 0.4s; */
/* } */

/* 버튼 : 흰색 - 탈퇴, 거부 */
.button_cancel {
	color: #3FAFFC;
	background-color: #fff;
	border: 1px solid #d5d5d5; 
	padding: 3px;
}

/* 버튼 : 올리브색 - 승인 */
.button_olive {
	background-color: #0095FB;
}

/* 버튼 : 회색2 - 초기화 */
.button_grey2 {
    color: #3FAFFC;
	background-color: #fff;
	border: 1px solid #d5d5d5; 
	padding: 3px;
}


/* 상세 정보 창 CSS */
.info_window {
	padding: 10%;
	line-height: 1.6;
}

.info_window section {
	justify-content: center;
	text-align: center;
	margin: auto;
}

.info_window table {
	/* ## 테이블 간격 조정 */
	width: auto;
	border-collapse: collapse;
	margin: auto;
	table-layout: auto;
}
	
.info_window td {
	/* 	width: 90%; */
	text-align: left;
}
	
/* 버튼 가운데 정렬 */
.info_window_table input[type="button"] {
	display: flex;
	justify-content: center;
}


/* 리뷰, 회원 카테고리 CSS */
#review_category, #member_category {
    width: 100%; /* 너비 설정 */
    height: 30px; /* 높이 설정 */
    border: none; /* 테두리 제거 */
    padding: 0px; /* 안쪽 여백 설정 */
    border-radius: 5px; /* 테두리 둥글게 */
    background-color:  rgb(244, 250, 255); /* 배경색 설정 */
    font-size: 15px; /* 글꼴 크기 설정 */
    font-weight: bold;
    text-align: center;
    
    margin-left: -100px; 
    margin-right: -100px; 
}

td> select {
	width: 93%;
}


/* top 버튼 CSS */
.topup {
    position: fixed;
/*     bottom: 5%; */
/*     right : 5%; */
    bottom: 25px;
    right: 30px;
    cursor: pointer;
}

.topup:hover svg circle {
    fill : #3FAFFC;
}


/* 검색창 CSS */
#board-search {
	float: right;
	/* 검색창 너비 */
	width: 20%;
 /* 	margin-bottom: 20px; */
}

/* .float_after { */
/* 	clear: both; */
/* } */

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
}

 input[type="search"] {
	background-color: #eff7fe !important;
}

 #board-search .search-window {
/* 	background-color: #f9f7f9; */
/* 	padding: 15px 0; */
}
 #board-search .search-window .search-wrap {
	position: relative;
/* 	width: 80%; */
/* 	padding-right: 124px; */
	margin: 0 auto;
	width: 100%;
	max-width: 564px;
	border: none;
}
 #board-search .search-window .search-wrap input {
	font-size: 14px;
	padding: 7px 14px;
	width: 100%;
/* 	height: 40px; */
	height: 35px;
/* 	border: 1px solid #d9d9d9; */
	border: none;
}
 #board-search .search-window .search-wrap input:focus {
	border-color: #333;
	outline: 0;
	border-width: 1px;
}
 #board-search .search-window .search-wrap .btn {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 0;
	font-size: 16px;
    /* 버튼 사이즈 조절 */
/* 	width: 108px; */
}
 .btn {
	display: inline-block;
	padding: 0 30px;
	font-size: 15px;
	font-weight: 400;
	background: transparent;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	text-transform: uppercase;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
    /* 버튼 아이콘 배경색 */
/* 	background-color: #fff !important; */
	background-color: #eff7fe !important;
}
 .btn-dark {
	background: #555;
	color: #fff;
	/* 돋보기 아이콘 오른쪽 배치 */
	text-align: right !important;
}
 .btn-dark:hover, .btn-dark:focus {
	background: #373737;
	border-color: #373737;
	color: #fff;
}
 .btn-dark {
	background: #555;
	color: #fff;
}
 .btn-dark:hover, .btn-dark:focus {
	background: #373737;
	border-color: #373737;
	color: #fff;
}
