@charset "UTF-8";


textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 0px;
    box-sizing: border-box;
    border: none;
    background-color: #f8f8f8;
    font-size: 12px;
}

/* 상세 정보 창 CSS */
.info_window {
	padding: 10%;
	line-height: 1.6;
}

.info_window section {
	justify-content: center;
	text-align: center;
	margin: auto;
}

.info_window table {
	/* ## 테이블 간격 조정 */
	width: auto;
	border-collapse: collapse;
	margin: auto;
	table-layout: auto;
}
	
.info_window td {
	/* 	width: 90%; */
	text-align: left;
}
	
/* 버튼 가운데 정렬 */
.info_window_table input[type="button"] {
	display: flex;
	justify-content: center;
}

/* ---com_company_join------------------- */
.header {
	display: flex;
	justify-content: space-between;
}


