@charset "UTF-8";
body{
	display: block;
	margin:100px;
}

h3 {
    color: #333;
    margin-bottom: 30px;
    font-size: 20px;
}

table {
	/* ## 테이블 간격 조정 */
    width: 90%;
    border-collapse: collapse;
    margin-bottom: 30px;
/*     ※테이블 가운데 정렬 하고싶은 경우 : margin: auto; */
}

th {
    background-color: #fafaf4;
    color: #333;
    padding: 15px;
    font-size: 15px;
}

td {
    text-align: center;
    padding: 15px;
    font-size: 14px;
}

td, th {
/*    border: 1px solid #ddd;*/
    border: 1px solid #e7e7e7;
}

