@charset "UTF-8";


/* 본문 CSS */
body {
    padding: 0 20%;
    line-height: 1.6;
}

h3 {
    color: #515151;
    margin-bottom: 30px;
    font-size: 30px;
    /* 하이라이트 CSS 추가 */
    display: inline; /* 글자 길이에 맞게 */
}

.article {
	display: block;
	border: none;
	background-color: #fff;
	margin-top: 40px;
}

.text {
	display: block;
	width: 1200px;
	padding: 0 30px;
    margin: 0 auto;
}

input[type="button"]:hover:not(.button_grey), input[type="submit"]:hover:not(.button_grey),
input[type="reset"]:hover:not(.button_grey) {
/*    opacity: 0.8;*/
    background-color: #fbe122;
}

input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin: 0px;
    box-sizing: border-box;
    border: none;
    background-color: #f8f8f8;
    font-size: 12px;
}


/* 버튼 : 빨간색 - 탈퇴, 거부 */
section>form>.button_cancel {
	color: #3FAFFC;
	background-color: #fff;
	border: 1px solid #d5d5d5; 
	padding: 5px;
}

/* 버튼 : 올리브색 - 승인 */
.button_olive {
	background-color: #0095FB;
}

/* 버튼 : 회색2 - 초기화 */
.button_grey2 {
    color: #3FAFFC;
	background-color: #fff;
	border: 1px solid #d5d5d5; 
	padding: 5px;
}

#button_delete {
    color: #3FAFFC;
	background-color: #fff;
	border: 1px solid #d5d5d5; 
	padding: 5px;
}

#button_delete:hover {
	background-color:  #ddd;
    color: #3FAFFC;
}

/* 상세 정보 창 CSS */
.info_window {
	padding: 10%;
	line-height: 1.6;
}

.info_window section {
	justify-content: center;
	text-align: center;
	margin: auto;
}

.info_window table {
	/* ## 테이블 간격 조정 */
	width: auto;
	border-collapse: collapse;
	margin: auto;
	table-layout: auto;
}
	
.info_window td {
	/* 	width: 90%; */
	text-align: center;
}
	
/* 버튼 가운데 정렬 */
.info_window_table input[type="button"] {
	display: flex;
	justify-content: center;
}

#comNumText {
	width: 83%;
	margin-right: 10px;
}

.menu_info {
	height: 60px;
}

div>textarea {
	width: 100%;
	height: 30px;
}

td>input[type="text"] {
	text-align: right;
}