@charset "UTF-8";

/* 본문 CSS */
body {
    padding: 0 20%;
    line-height: 1.6;
}

/* .body{ */
/* 	display: block; */
/* 	margin: auto; */
/* } */
h3 {
    color: #515151;
    margin-bottom: 30px;
    font-size: 30px;
    display: inline;
}
.article {
	display: block;
	border: none;
	background-color: #fff;
	margin-top: 40px;
}

.text {
	display: block;
	width: 1200px;
	padding: 0 30px;
    margin: 0 auto;
}


.popup{
	margin: 5cm;
	
}

input[type="button"]:hover, input[type="submit"]:hover {
    opacity: 0.8;
}

.text_div {
	display: flex;
	justify-content: space-between;
}

/* 드롭다운 CSS */
select {
    width: 100%;
    height: 35px;
    background: #f8f8f8;
    color: #333;
    padding: 5px;
}
