@charset "UTF-8";
  body {  
    margin: 0; 
    padding: 0; 
    font-family: '맑은 고딕', 'Malgun Gothic', '돋움', Dotum, Arial, 'Apple Gothic', sans-serif; 
    letter-spacing: -1px; 
    word-wrap: break-word;
    margin: 0; 
    background-color: #fff; 
    color: #707070; 
    font-size: 14px; 
    line-height: 24px; 
    letter-spacing: -1px; 
    -webkit-text-size-adjust: none;
    font-family:'맑은 고딕', 'Malgun Gothic', '돋움', Dotum, Arial, 'Apple Gothic', sans-serif;
    letter-spacing:-1px;
    font-size:16px;
    line-height:1.4;
    color:#282828;
  }  
  
div { 
    margin: 0; 
    padding: 0; 
    font-family: '맑은 고딕', 'Malgun Gothic', '돋움', Dotum, Arial, 'Apple Gothic', sans-serif; 
    letter-spacing: -1px; 
    word-wrap: break-word;
} 

.nmContainer { 
    width: 100%;
} 

.nmTit { 
    position: relative; 
    margin: 55px 15px 25px;
} 

.nmTit:after { 
    content: ""; 
    display: block; 
    height: 0px; 
    clear: both; 
    visibility: hidden; 
    font-size: 0;
} 

.nmCont { 
    padding: 40px; 
    border: 1px solid #fff;
} 

h2 { 
    margin: 0; 
    padding: 0; 
    font-weight: normal;
    font: inherit;
} 


.nmTit h2  { 
    font-size: 30px; 
    color: #282828;
    text-align: center;
} 

.nmLoginWrap { 
    width: 606px; 
    margin: 0 auto; 
    padding: 40px; 
    border: 1px solid #d9d9d9; 
    background: #fbfcfd; 
    box-sizing: border-box;
} 

ul { 
    margin: 0; 
    padding: 0; 
    font-family: '맑은 고딕', 'Malgun Gothic', '돋움', Dotum, Arial, 'Apple Gothic', sans-serif; 
    letter-spacing: -1px; 
    word-wrap: break-word;
    list-style: none;
} 


.siteList { 
    padding: 40px 0; 
    text-align: center;
} 

.siteList:after { 
    content: ""; 
    display: block; 
    height: 0px; 
    clear: both; 
    visibility: hidden; 
    font-size: 0;
} 

li { 
    margin: 0; 
    padding: 0; 
    font-family: '맑은 고딕', 'Malgun Gothic', '돋움', Dotum, Arial, 'Apple Gothic', sans-serif; 
    letter-spacing: -1px; 
    word-wrap: break-word;
    list-style: none;
} 


.siteList li  { 
    display: inline-block; 
    margin-left: 30px; 
    text-align: left;
} 

.siteList li:first-child  { 
    margin-left: 0;
} 

form { 
    margin: 0; 
    padding: 0; 
    font-family: '맑은 고딕', 'Malgun Gothic', '돋움', Dotum, Arial, 'Apple Gothic', sans-serif; 
    letter-spacing: -1px; 
    word-wrap: break-word;
} 


.siteList li a  { 
    font-size: 18px; 
    color: #282828;
} 

.siteList li a::before { 
    content: ""; 
    display: inline-block; 
    width: 25px; 
    height: 25px; 
    margin: 0 11px 0 0; 
    background-size: 25px 25px; 
    vertical-align: bottom; 
    background-position-x: 0px; 
    background-position-y: 0px; 
    background-repeat-x: no-repeat; 
    background-repeat-y: no-repeat; 
    background-attachment: initial; 
    background-origin: initial; 
    background-clip: initial; 
    background-color: initial;
} 


input { 
    margin: 0; 
    padding: 0; 
    font-family: '맑은 고딕', 'Malgun Gothic', '돋움', Dotum, Arial, 'Apple Gothic', sans-serif; 
    letter-spacing: -1px; 
    word-wrap: break-word;
    outline: none;
    vertical-align: middle;
} 

input.inputTxt { 
    height: 31px; 
    padding: 0 15px 2px; 
    border: 1px solid #d8d8d8; 
    font-size: 14px; 
    line-height: 18px;
} 

.inputTxt  { 
    height: 35px; 
    padding: 0 10px 2px; 
    border: 1px solid #bfbfbf; 
    font-size: 14px; 
    line-height: 18px; 
    letter-spacing: 0; 
    border-radius: 0; 
    box-sizing: border-box; 
    appearance: none; 
    -webkit-appearance: none;
} 

/* .inpBig  {  */
/*     height: 30px; */
/* }  */

:root input.inputTxt  { 
    height: 31px \0/IE9; 
    padding: 0 15px 2px \0/IE9;
} 

.loginBox .inputTxt  { 
    width: 100%; 
    margin-bottom: 10px; 
    border-color: #d8d8d8;
} 

input.inputTxt  { 
    height: 35px \9; 
    padding: 0 10px 2px \9;
} 

/* input.inpBig  {  */
/*     height: 50px \9; */
/* }  */

button { 
    background: none; 
    border: 0 none; 
    line-height: 100%; 
    cursor: pointer;
} 

#joinBtn  { 
    display: inline-block; 
    height: 45px; 
    margin: 0; 
    padding: 0 25px; 
    border: 1px solid  #e5e6d1; 
    background:  #e5e6d1; 
    font-size: 20px; 
    line-height: 1.2; 
    color: #282828; 
    vertical-align: middle; 
    
    text-align: center; 
    box-sizing: border-box; 
    cursor: pointer;
} 

#joinkakaoBtn  { 
    display: inline-block; 
    height: 45px; 
    margin: 0; 
    padding: 0 25px; 
    border: 1px solid #fbe122; 
    background:  #fbe122; 
    font-size: 20px; 
    line-height: 1.2; 
    color: #282828; 
    vertical-align: middle; 
    
    text-align: center; 
    box-sizing: border-box; 
    cursor: pointer;
} 

.loginBox .btnJoin ,
.btnJoinKakao { 
    width: 100%; 
    height: 50px !important
} 

span { 
    margin: 0; 
    padding: 0; 
    font-family: '맑은 고딕', 'Malgun Gothic', '돋움', Dotum, Arial, 'Apple Gothic', sans-serif; 
    letter-spacing: -1px; 
    word-wrap: break-word;
} 

button span  { 
    position: relative;
} 

.btnB span  { 
    display: inline-block; 
    margin: 11px 0 13px;
} 

.u_emil{
	    display: flex; 
	     flex-grow: 1;
}





