@charset "UTF-8";
  
  footer {
    padding-left: 0;  /* footer의 왼쪽 여백 제거 */
    padding-right: 0;  /* footer의 오른쪽 여백 제거 */
}


/* 체크박스랑 로그인 버튼 사이에 간격띄우기 */
.check {
    margin-bottom: 40px;  /* 원하는 간격으로 조절 */
    vertical-align: middle;
    font-size: 17px;  
    
}

.nmContainer { 
    width: 100%;
    /* display: flex; */
    line-height:1.4;
} 

.nmTit { 
    position: relative; 
    margin: 55px 15px 25px;
    display: block;
    text-align: center;
} 

.nmTit:after { 
    content: ""; 
    display: block; 
    height: 0px; 
    clear: both; 
    visibility: hidden; 
    font-size: 0;
} 



.nmCont { 
    padding: 40px; 
    border: 1px solid #fff;
} 

h2 { 
    margin: 0; 
    padding: 0; 
    font-weight: normal;
} 

h2 { 
    font: inherit;
} 

.nmTit h2  { 
    font-size: 30px; 
    color: #282828;
    text-align: center;
} 

.nmLoginWrap { 
    width: 606px; 
    margin: 0 auto; 
    padding: 40px; 
    border: 1px solid #d9d9d9; 
    background: #fbfcfd; 
    box-sizing: border-box;
} 

ul { 
    margin: 0; 
    padding: 0; 
    letter-spacing: -1px; 
    word-wrap: break-word;
} 

ul { 
    list-style: none;
} 

.siteList { 
    padding: 40px 0; 
    text-align: center;
} 

.siteList:after { 
    content: ""; 
    display: block; 
    height: 0px; 
    clear: both; 
    visibility: hidden; 
    font-size: 0;
} 

li { 
    margin: 0; 
    padding: 0; 
    letter-spacing: -1px; 
    word-wrap: break-word;
} 

li { 
    list-style: none;
} 

.siteList li  { 
    display: inline-block; 
    margin-left: 30px; 
    text-align: left;
} 

.siteList li:first-child  { 
    margin-left: 0;
} 

form { 
    margin: 0; 
    padding: 0; 
    letter-spacing: -1px; 
    word-wrap: break-word;
    
} 

#loginForm{
	text-align: center;
}

a { 
    margin: 0; 
    padding: 0; 
    letter-spacing: -1px; 
    word-wrap: break-word;
} 

a { 
    color: #707070; 
    text-decoration: none;
} 

.siteList li a  { 
    font-size: 18px; 
    color: #282828;
} 

.siteList li a::before { 
    content: ""; 
    display: inline-block; 
    width: 25px; 
    height: 25px; 
    margin: 0 11px 0 0; 
    background-size: 25px 25px; 
    vertical-align: bottom; 
    background-position-x: 0px; 
    background-position-y: 0px; 
    background-repeat-x: no-repeat; 
    background-repeat-y: no-repeat; 
    background-attachment: initial; 
    background-origin: initial; 
    background-clip: initial; 
    background-color: initial;
} 

a:hover { 
    color: #0e77d9; 
    text-decoration: underline;
} 

a:active,a:hover { 
    outline: 0;
} 

input { 
    margin: 0; 
    padding: 0; 
    letter-spacing: -1px; 
    word-wrap: break-word;
} 

input { 
    vertical-align: middle;
    outline: none;
} 

.inputTxt  { 
    height: 40px; 
    padding: 0 10px 2px; 
    font-size: 14px; 
    line-height: 18px; 
    letter-spacing: 0; 
    border-radius: 0; 
    box-sizing: border-box; 
    appearance: none; 
    -webkit-appearance: none;
} 

.inpBig  { 
    height: 40px;
} 

.loginBox .inputTxt  { 
    width: 100%; 
    margin-bottom: 20px; 
} 

input.inputTxt  { 
    height: 35px \9; 
    padding: 0 10px 2px \9;
} 

input.inpBig  { 
    height: 50px \9;
} 

button { 
    background: none; 
    border: 0 none; 
    line-height: 100%; 
    cursor: pointer;
} 

#loginkakaoBtn  { 
    display: inline-block ;
    background:  #fbe122; 
    line-height: 1.2; 
    color: #fff;
} 

.loginBox .btnLogin ,
.btnkakaoLogin { 
    width: 100%; 
	height: 40px !important;
	font-size: 18px; 
} 

span { 
    margin: 0; 
    padding: 0; 
    letter-spacing: -1px; 
    word-wrap: break-word;
} 


