@charset "UTF-8";

* {
	color:#282828;
}

.wrapper {
	margin-left: 450px;
	margin-right: 500px;
	margin-top: 70px;
	position: absolute;
}

.title{
	display: flex;  /* 나란히 놓는다 */
	justify-content: space-between; /* 그 사이에 공간을 준다 */
	width: 1000px;
}

.logo_img_1 {
    width: 80px;
    margin-top: 30px;
}

.logo_img_2 {
    width: 200px;
    margin-top: 30px;
}
.div_img {
	margin-bottom: 30px;
}

#box{
/* 	text-align: center; */
	width: 500px; 
	height: 480px;
    margin: 0 auto;
    margin-bottom: 50px; 
    padding: 40px; 
    border: 1px solid #d9d9d9; 
    background: #fbfcfd; 
    box-sizing: border-box;
}


.mypg> h1 {
    color: #515151;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 25px;
    display: inline; /* 글자 길이에 맞게 */
    font-weight: bold;
}

.small-text {
   font-size: 13px;
   vertical-align: middle;
}

h3 {
    color: #515151;
    margin-bottom: 30px;
    font-size: 20px;
    display: inline; /* 글자 길이에 맞게 */
}

table {
	/* 테이블 간격 조정 */
    width: 90%;
    border-collapse: collapse;
    margin-bottom: 30px;
    /* ※테이블 가운데 정렬 하고싶은 경우 : margin: auto; */
}


.subject {
	text-align: center;
    background-color: #fafaf4;
    color: #333;
    padding: 15px;
    font-size: 15px;
}

td {
    padding: 15px;
    font-size: 14px;
    text-align: center;
}

td, th {
    border: 1px solid #e7e7e7;
    line-height: 3;
}

.input_text {
    width: 30%;
    height: 40px;
    border: solid #d5d5d5 1px;
    font-size: 13px;
    line-height: 1.5;
    padding-left: 10px;
}

.email_text {
    width: 25%;
    height: 40px;
    border: solid #d5d5d5 1px;
    font-size: 13px;
    line-height: 1.5;
    padding-left: 10px;
}

.email_domain {
	border-radius: 10px;
    border: 1px solid #d9d9d9;
    padding: 10px;
    margin: 5px;
    width: 20%;
}

.passwd_text {
    width: 70%;
    height: 40px;
    border: solid #d5d5d5 1px;
    font-size: 13px;
    line-height: 1.5;
    padding-left: 10px;
    margin-top: 20px;
}

.passwd_text2 {
	width: 70%;
	height: 40px;
	border: solid #d5d5d5 1px;
	font-size: 13px;
	line-height: 1.5;
	padding-left: 10px;
	margin-top: 20px;
}

.btn_out {
	 border: 1px;
	 color: #5d5d5d;
	 font-size:17px;
}

textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 0px;
    box-sizing: border-box;
    border: none;
    background-color: #f8f8f8;
    font-size: 12px;
}

.click_button {
	justify-content: center;
	text-align: center;
	margin: auto;
	layout: fixed;
}

#my_delete {
	border: 1px solid #ddd;
	background-color: #fff;
	color:#3FAFFC;
}

#my_delete:hover {
	background-color:  #ddd;
    color: #3FAFFC;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

input[type="date"]::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background: transparent;
    position: relative;
    top: -3px;
    right: -6px;
}

#qna {
	align: center;
}

#button_grey2 {
    color: #3FAFFC;
    background-color: #fff;
    border: 1px solid #d5d5d5; 
    padding: 5px;
}

#button_grey2:hover {
    background-color:  #ddd;
    color: #3FAFFC;
}

/* 북마크 이미지 */
.image_size {
	width: 250px;
    height: 250px;
/*     margin: 30px; 원하는 마진으로 변경 */
	object-fit: cover; /* 이미지의 비율을 유지하면서, 지정한 width와 height에 맞게 이미지를 잘라냄 */
    border-radius: 10%;
}

.bookmark_image {
	display: flex;
	margin-top: 20px;
	flex-wrap: wrap;
	justify-content: flex-start;
}

/* .bookmark_image img { */
/* 	margin-right:50px; */
/* } */


.bookmark_image div {
   flex-basis: 33.33%;
   box-sizing: border-box;
   margin-bottom: 20px;  /* 아래쪽으로 20px의 간격을 줌 */
}

.like_button {
    font-size: 18px;
    font-weight: bold;
    padding: 10px 15px;
    background-color: white; /* 버튼의 배경색을 흰색으로 설정 */
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.3s ease, fill 0.3s ease; /* 색상 및 배경색 변경을 부드럽게 하기 위해 transition퍋가 */
    border-radius: 10px;
    margin-left:10px;
}

/* 북마크 표시 */
#heart {
    height: 30px;
    width: 30px;
    stroke: #3FAFFC; 
    fill: #3FAFFC; 
    transition: filter linear .3s;
}

.like_button.active #heart {
    stroke: #3FAFFC;
    fill: #fff;
}

/* 최근 본 매장 */
.wrapper2 {
  display: flex;
  width: 1000px;
  position: relative;
}

.wrapper2 i {
  top: 50%;
  height: 44px;
  width: 44px;
  color: #343F4F;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: #fff;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}

.wrapper2 i:active {
  transform: translateY(-50%) scale(0.9);
}

.wrapper2 i:hover {
  background: #f2f2f2;
}

.wrapper2 i:first-child {
  left: -22px;
  display: none;
}

.wrapper2 i:last-child {
  right: -22px;
}

.wrapper2 .carousel {
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}

.carousel.dragging {
  cursor: grab;
  scroll-behavior: auto;
}

.carousel.dragging img {
  pointer-events: none;
}

.carousel img {
  height: 320px;
  object-fit: cover;
  user-select: none;
  width: 300px;
  border-radius: 10%;
  margin-right: 20px;
}

/* .carousel img:first-child { */
/* } */

@media screen and (max-width: 900px) {
  .carousel img{
    width: calc(100% / 2);
  }
}
@media screen and (max-width: 550px) {
  .carousel img{
    width: 100%;
  }
}

#pageList {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

#pageList input[type="button"] {
    background-color: #fff;
    color: #3FAFFC;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    margin: 0 10px;
    transition: background-color 0.3s;
}

#pageList input[type="button"]:disabled {
    background-color: #fff;
    color: #fff;
    cursor: not-allowed;
}

#pageList b,
#pageList a {
    color: #333;
    font-size: 1.2em;
    margin: 0 10px;
}

#pageList a {
    text-decoration: none;
    color: #0095FB;
}

#pageList a:hover {
    color: #0073ce;
}

