@charset "UTF-8";

@font-face {
	font-family: 'Pretendard-Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
		format('woff');
	font-weight: 400;
	font-style: normal;
}

.comment-container, .comment-header {
    max-width: 565px; /* 팝업창의 너비에 맞추기 */
    margin: auto;
}


body {
	font-family: 'Pretendard-Regular', sans-serif;
	width:500px;
	height: 632px;
	margin: 0 auto; /* 페이지를 중앙에 배치 */
    text-align: center;
    box-sizing: border-box; /* Make sure padding and borders are included in the total width and height */
    
	
}

.comment-container, .comment-header, #replyArea, #articleForm {
    margin-left: auto;
    margin-right: auto;
}

.comment-header {
	display: flex;
	align-items: center;
	padding: 10px;
	background-color: #fff;
	border-bottom: 1px solid #ddd;
	height: 30px;
}

.comment-header h3 {
    margin: 0; /* 상하 마진을 제거하여 헤더 높이에 맞게 조정 */
}

/* 전체 페이지 중앙 정렬을 위한 스타일 */
#articleForm, #replyArea, #replyListArea, .comment-container {
    max-width: 565px; /* 최대 너비를 설정하여 가로로 너무 커지지 않도록 합니다 */
    box-sizing: border-box; /* padding과 border가 width에 포함되도록 설정 */
}



.no-comments {
	width: 100%; /* 전체 너비로 설정 */
	margin: 20px 0; /* 상하 마진 설정 */
	padding: 20px; /* 내부 여백을 늘려줍니다 */
	text-align: center; /* 텍스트 중앙 정렬 */
	font-size: 18px; /* 폰트 크기 조정 */
	color: gray;
}

.no-comments {
    margin: 20px 0;
    padding: 10px;
    height: 370px;
    width: auto;
}

/* .separator { */
/* 	border: none; */
/* 	height: 1px; */
/* 	background-color: #ddd; */
/* 	margin: 25px 0; */
/* 	margin-bottom: 25px; */
/* } */

.separator {
    border-top: 1px solid #C0C0C0; /* 회색 구분선 색상 설정 */
    margin-top: 20px; /* 상단 여백 설정 */
    margin-bottom: 20px; /* 하단 여백 설정 */
}

.comment-box {
	width: 81%;
	padding: 10px;
	border: none;
	min-height: 59px;
	overflow: auto;
	margin-right: 10px;
	margin-top: 2px;
}

.comment-box[placeholder]:empty:before {
	content: attr(placeholder);
	color: #aaa;
}

.submit-comment {
    font-family: 'Pretendard-Regular', sans-serif;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 10px;
    background-color: #3FAFFC;
    color: #fbfcfd;
    cursor: pointer;
    font-weight: 500;
    margin: 10px;
    text-align: center;
    margin-left: auto;
    border: none;
    margin-bottom: 10px;
    width: auto;
    text-align: center;
    line-height: normal; /* line-height를 normal 또는 버튼 높이에 맞게 조절 */
    display: inline-block; /* 블록 요소처럼 표시하되, 내용에 맞게 크기 조절 */
    
}

#replyTextarea>placeholder {
    font-style: 'Pretendard-Regular';
}


.comment_area {
    display: flex; /* Flexbox 레이아웃 적용 */
    justify-content: space-between; /* 요소들 사이에 여백을 균등하게 분배 */
    align-items: center; /* 세로 방향 가운데 정렬 */
    margin-bottom: 10px; /* 하단 여백 */
}

#replyTextarea {
    flex-grow: 1; /* 사용 가능한 공간을 모두 차지하도록 설정 */
    margin-right: 10px; /* 오른쪽 여백 설정 */
    padding: 10px; /* 내부 여백 */
    border: 1px solid #ddd; /* 테두리 */
    border-radius: 4px; /* 둥근 모서리 */
    resize: vertical; /* 세로 방향으로만 크기 조절 가능 */
}

.custom-separator {
    border-top: 1px solid #C0C0C0; /* 회색 구분선 색상 */
    margin: 20px 0; /* 상단 및 하단 여백 */
}

.comment-container {
    position: fixed; /* 고정 위치 */
    bottom: 0; /* 하단에 위치 */
    left: 0; /* 왼쪽 정렬 */
    width: 100%; /* 너비를 전체 창 너비로 설정 */
    background: #fff; /* 배경색 설정 */
    border-top: 1px solid #ddd; /* 상단에 경계선 추가 */
    padding: 10px; /* 내부 여백 */
/*     box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); 상단에 그림자 효과 */
    z-index: 1000; /* 다른 요소들 위에 표시되도록 z-index 설정 */
    margin-left: 26px;
}

.review-button {
    margin-left: 552px;
}


.review-button img {
  display: block;
  margin: 0 auto;
  weight: 10px;
}


/* ========================================= */
	#articleForm {
		width: 500px;
		height: 600px;
		border: 1px solid red;
		margin: auto;
	}
	
	h2 {
		text-align: center;
	}
	
	table {
		border: 1px solid black;
		border-collapse: collapse; 
/* 	 	width: 500px; */
		width: 100%;
	}
	
	th {
		text-align: center;
	}
	
	td {
		width: 150px;
/* 		text-align: center; */
	}
	
	#basicInfoArea {
		min-height: 130px;
		text-align: center;
	}
	
	#articleContentArea {
		background: orange;
		margin-top: 20px;
		height: 350px;
		text-align: center;
		overflow: auto;
		white-space: pre-line;
	}
	
	#commandList {
		margin: auto;
		width: 500px;
		text-align: center;
	}
	
	/* -------------- 댓글 영역 --------------- */
	#replyArea {
		width: 500px;
		height: 150px;
		margin: auto;
		margin-top: 20px;
		margin-bottom: 50px;
	}
	
	.reReply .replyWriter {
    padding-left: 30px; 
}
	
	#replyTextarea {
		width: 400px;
		height: 50px;
		resize: none;
		vertical-align: middle;
	}
	
	#replySubmit {
		width: 85px;
		height: 55px;
		vertical-align: middle;
	}
	
	#replyListArea {
		font-size: 12px;
		margin-top: 20px;
	}
	
	#replyListArea table, tr, td {
		border: none;
	}
	
	.replyContent {
/* 		width: 300px; */
/* 		text-align: center; */
		margin-left:10px;
		height: 50px;
		font-size: 15px;
	}
	
	.replyContent {
    width: calc(100% - 40px)!important; /* 전체 너비에서 20px(좌우 여백)를 뺀 너비 사용 */
    text-align: left; /* 텍스트를 왼쪽으로 정렬 */
    margin-left: 20pximportant; /* 좌측 여백 추가 */
    padding-right: 10px; /* 우측 패딩 추가 */
}
	
	.replyContent img {
/* 		width: 10px; */
/* 		height: 10px; */
	}
	
	.replyWriter {
	width: 80px;
    text-align: left; /* 왼쪽 정렬 */
    padding-left: 10px; /* 좌측 여백 추가 (선택적) */
    font-size: 14px;
	}
	
	.replyDate {
		width: 100px;
	}
	
	/* 대댓글 */
	#reReplyTextarea {
		width: 350px;
		height: 20px;
		vertical-align: middle;
		resize: none;
	}
	
	#reReplySubmit {
		width: 65px;
		height: 25px;
		vertical-align: middle;
		font-size: 12px;
	}
	
	.user_icon {
	    width: 20px; /* 이미지의 너비 */
    height: 20px; /* 이미지의 높이 */
    margin-right: 5px; /* 오른쪽 여백 */
    vertical-align: middle; /* 수직 중앙 정렬 */
	}
	
	
.separator { 
  border-bottom: 0.2px solid #f6f6f6; /* 색상을 더 연하게 변경 */
  margin-top: 20px; /* 위쪽 간격 늘리기 */
  margin-bottom: 20px; /* 아래쪽 간격 늘리기 */
}

/* 답글 달기 이모티콘 */
#reviewCommentIcon {
	width: 25px;
	height: auto;
	margin-bottom: -5px;
}

.comment_icon_text {
	  text-decoration-line: none;
	  color: #000000;
/* 	  margin-right:10px; */
	
}

.reviewDelelteIcon {
	width: 15px;
	height: auto;
	  margin-right:60px;
}

a {
    text-decoration: none;
}


