@charset "UTF-8";
.keyword-category h3 {
  text-align: center; /* 중앙 정렬 */
}

.like_btn, .keyword_btn, .photo_btn {
  border-radius: 10px; /* 모서리 둥글게 */
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.restaurant_info {
  margin-bottom: 20px;
  }
  
.restaurant_info p {
  font-size: 14px;
}

.separator {
  border-bottom: 1px solid lightgray;
  margin-bottom: 20px;
}

.review_section h2, .review_section p {
  text-align: center; /* 중앙 정렬 */
}

.like_section {
  margin-bottom: 20px;
}

.like_section p {
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center; /* 중앙 정렬 */
  
}

/* .like_btn {
  background-color: white;
  border: 1px solid lightgray;
  color: black;
  padding: 10px;
  cursor: pointer;
  transition-duration: 0.4s;
  text-align: center; 중앙 정렬  
} */

/* 좋아요 버튼 수정(23/12/12) */

.like_button {
    font-size: 20px;
    color: lightgrey; /* 글씨색을 연한 회색으로 변경 */
    border: 1px solid lightgrey; /* 버튼 테두리를 연한 회색으로 변경 */
    padding: 10px 15px;
    background-color: white; /* 버튼의 배경색을 흰색으로 설정 */
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.3s ease, fill 0.3s ease; /* 색상 및 배경색 변경을 부드럽게 하기 위해 transition퍋가 */
    border-radius: 10px;
}

#heart {
    height: 20px;
    width: 20px;
    fill: lightgrey; /* 하트의 색상을 연한 회색으로 변경 */
    stroke: lightgrey; /* 하트 테두리의 색상을 연한 회색으로 변경 */
}

.like_button.active {
    color: black;  /* 버튼이 눌렸을 때 글씨색을 검정색으로 변경 */
/*     background-color:#rgb(206, 234, 242)* 버튼이 눌렸을 때 배경색을 연한 하늘색으로 변경  */
} 

.like_button {
  font-weight: bold;
}

.like_button.active #heart {
    fill: #3FAFFC; /* 버튼이 눌렸을 때 하트 색상을 빨간색으로 변경 */
    stroke: #3FAFFC; /* 버튼이 눌렸을 때 하트 테두리 색상을 빨간색으로 변경 */
}



.keyword_section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* 아이템들이 컨테이너의 상단에 정렬되도록 설정 */
}

.keyword_category {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* 아이템들이 컨테이너의 상단에 정렬되도록 설정 */
}

.keyword_category>h3{
	text-align: center;
}

/* .keyword_btn { */
/*   margin-bottom: 10px; 버튼 사이의 간격 */
/*   background-color: white; */
/*   border: 1px solid lightgray; */
/*   color: black; */
/*   padding: 12px; */
/*   cursor: pointer; */
/*   transition-duration: 0.4s; */
/* } */

.keyword_btn {
  width: 160px; /* 버튼의 너비 */
  height: 40px; /* 버튼의 높이 */
  margin-bottom: 7px; /* 버튼 사이의 간격 */
  background-color: white;
  border: 1px solid lightgray;
  color: black;
  padding: 12px;
  cursor: pointer;
  transition-duration: 0.4s;
  text-align: center; /* 텍스트 중앙 정렬 */
  font-size: 13px;
}

.keyword-btn:hover {
  background-color: lightgray;
}

.keyword-btn:last-child {
  margin-top: auto; /* 마지막 버튼을 하단에 정렬 */
}
.review_input_section {
  position: relative;
  margin-top: 20px;
}

.photo_btn {
  display: block;
  margin: 20px auto;
  background-color: white;
  border: 1px solid lightgray;
  color: black;
  padding: 10px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.photo_btn:hover {
  background-color: lightgray;
}

.review_textarea {
  width: 100%;
  height: 200px;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid lightgray;
  resize: none; /* 리뷰 입력 텍스트 박스의 크기 변경 불가능 */
}

/* 팝업 스타일 */
#popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 1000;
}
 
.register_button {
  position: absolute;
  right: 0;
  bottom: 0; /* 변경된 부분: 버튼의 위치를 리뷰 입력 섹션 아래로 조정 */
  background-color: #3FAFFC;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
}

.review_input_section {
  position: relative;
  margin-top: 20px;
}
.review_wrapper {
  position: relative;
}

.caution_link {
  display: block;
  padding: 10px 0;
}

/* 토스트 메세지 */
/* CSS */
.toast-message {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
  border-radius: 10px;
}

.toast-message.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2s;
  animation: fadein 0.5s, fadeout 0.5s 2s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

