@charset "UTF-8";

.search-bar-wrapper {
	display: flex;
	width: 100%;
	background-color: #f8f8f8;
}

.search_bar {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	margin: 0 auto; 
	background-color: #fff;

	border: 0.5px solid #3FAFFC;
	border-radius: 10px;
}

.search_wrapper {
    position: relative; 
	flex-direction: column; 
	align-items: flex-start;
	justify-content: center;
	width: 100%; 
	position: relative;
}

.search_content {
	display: flex; 
	align-items: center;

	width: 100%;
	height: 45px;
}

.search_input_wrapper, .search_info, .filter_wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.search_input_wrapper {
	flex-grow: 8; 

	border-right: 0.5px solid #dfdfdf;
	justify-content: flex-start; 
	height: 100%;
}

.search_info {
	flex-grow: 2; 

	border-right: 1px solid #dfdfdf;
}

.filter_wrapper {
	flex-grow: 1; 
	justify-content : center;
	position: relative;
}
.filter_icon {
	margin: 10px;
}
.search_input {
	width: 100%; 
	display: flex; 
	height: 95%;
	position: relative;
}

/**/
.search_input_text {
	width: 100%; 
	margin-left: 5px; 
	font-size: 16px;
	font-weight: bold;
	border: 1px solid #FFF;
	padding-left: 20px;
	color: #3FAFFC;
	
}

.search_icon {
	position: absolute; 

	right: 20px; 
	top: 50%; 
	transform: translateY(-50%); 
	cursor: pointer;
}

.search_filter {
	display: flex;
	justify-content: space-between; 
}

.filter_option {
	flex-basis: 33.33%; 
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 10px; 
	width: 90px; 
	height: 40px;
}

.menu_option {
	flex-basis: 33.33%; 
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 10px; 
	width: 30%; 
	height: 30%;	
}

a {
	color: #000;
}

.location_button, .distance_button, .cuisine_button, .user_button, .login_button, .bell_button, .support_button {
	border: none; 
	background-color: transparent; 
}
.modal {
    display: none;
    position: fixed;
    z-index: 1000; /* 높은 z-index 값을 사용하여 깊이감 추가 */
    top: 10%; /* 상단 위치 조정 */
    width: 80%; /* 너비 조정 */
    height: 80%; /* 높이 조정 */
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    box-sizing: content-box !important;
}


#table_modal {
   position: absolute;
    left: 0;
    top: 300%; 
    width: 100%; 
    height : 250px;
    max-width: none; 
    min-width: 500px; 
    max-height: 600px; 
    overflow-y: auto; 
    background-color: #fefefe;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
    z-index:90;
    padding: 10px;
}

#confirm {
    grid-column: 1 / span 3; /* 3열 전체를 차지 */
    margin-top: 10px;
    align-self: center; /* 중앙 정렬 */
}

.close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

h2 {
    width: 100%;
    text-align: center;
    padding: 20px;
}

.input-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* 3열 구조 */
    grid-template-rows: auto auto; /* 2행 구조 */
    gap: 10px; /* 요소 간 간격 */
    width: 100%;
    margin: 10px 0px;
    box-sizing: border-box;
}

.date-group, .persons-group, .time-group {
    display: flex;
    flex-direction: column;
    align-items: start; /* 왼쪽 정렬 */
    justify-content: center; /* 가로 방향 중앙 정렬 */
    width: 100%; 
    align-items: center;  
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ddd; /* 테두리 추가 */
    border-radius: 5px; /* 둥근 모서리 */
}



.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*여기서부터 필터모달 CSS*/

#filterModal {
    position: fixed; /* 뷰포트에 상대적으로 배치 */
    left: 50%;       /* 왼쪽 가장자리를 화면 중앙으로 이동 */
    top: 30%;        /* 상단 가장자리를 화면 중앙으로 이동 */
    transform: translate(-50%, -50%); /* 요소의 중심을 화면 중앙으로 이동 */
    width: 1000px;
    height: 350px;
    background-color: #fff; /* 배경색 설정 */
    border-radius: 10px; /* 테두리 둥글게 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
    box-sizing: border-box; /* 박스 사이징 */
    z-index: 1001; /* z-index 값 */
    opacity: 95%;
}
.filter-modal-content {
 	width: 100%; 
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-between; 
    padding: 20px; 
    box-sizing: border-box; 
    border-radius: 8px; /* 테두리 둥글게 */
}

.filter-modal-content h2 {
    padding: 0;
    margin: 10px;
    border-bottom: 1px solid #3FAFFC;
    width: 200px;
}

.modal-footer {
    bottom: 0;          
    position: sticky;   
    bottom: 0;          
    align-items: center; 
    justify-content: center;
    
}

.filter-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    overflow: auto;
    align-items: center;
}

.filter-list {
    list-style-type: none; 
    padding: 0; 
    text-align: center; 
    font-size: 16px;
}


.sub-list, .detail-list {
      display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
    font-size: 14px;
    
}

.filter-list, .sub-list, .detail-list {
    display: flex;
    flex-direction: row;
    align-items: stretch; 
    align-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0; 
    
    
}

.filter-item, .sub-list > li, .detail-list > li {
    padding: 10px;
    background-color: #fff; /* 배경색 변경 */
    border: 1px solid #ccc; /* 테두리 색상 변경 */
}

.filter-item {
	margin: 10px 10px;; /* 마진 변경 */
}

.sub-list > li, .detail-list > li {
	margin: 5px 8px;; /* 마진 변경 */
}

.filter-item > span:hover {
    cursor: pointer;
}


.filter-item,
.sub-list > li,
.detail-list > li {
    box-sizing: border-box;
    padding: 6px;
    border: 1px solid #ddd;
    cursor: pointer;
    border-radius: 10px;
}



.filter-item > span:hover {
    cursor: pointer;
}

.sub-list input[type="radio"],
.detail-list input[type="radio"] {
    display: none !important;
}

li.selected {
    background-color: lightblue; 
}


#mainSearchBar {
	background-color: #fff;
}

.location_gyeonggi, .location_busan{
    display: flex;
    flex-wrap: wrap; /* 내용이 넘치면 다음 줄로 이동 */
    justify-content: center; /* 가운데 정렬 */
    column-count: 2; 
    column-fill: auto;
}

.location_gyeonggi li {
    display: inline-block; /* 인라인 블록 요소로 표시 */
    width: 170px;          /* 각 요소의 너비를 컨테이너의 100%로 설정 */
    box-sizing: border-box; /* border와 padding을 너비에 포함 */
    height: 40px;          /* 각 요소의 높이를 일정하게 설정 */
    justify-content : center;
}

.location_busan li {
    display: inline-block; /* 인라인 블록 요소로 표시 */
    width: 90px;          /* 각 요소의 너비를 컨테이너의 100%로 설정 */
    box-sizing: border-box; /* border와 padding을 너비에 포함 */
    height: 40px;          /* 각 요소의 높이를 일정하게 설정 */
    justify-content : center;
}

.price-range-selector {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px;
}

.price-select {
	padding: 10px;
	margin: 0 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #fff;
}

.price-select-label {
	font-weight: bold;
	margin-right: 10px;
}