@charset "UTF-8";

.search-bar-wrapper {
	display: flex;
	width: 100%;
	background-color: #f8f8f8;
}

.search_bar {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	margin: 0 auto; /* 화면 중앙에 배치 */
	background-color: #fff;
/* 	border: 0.5px solid #d2d2d2; */
	border: 0.5px solid #dfdfdf;
	border-radius: 10px;
}

.search_wrapper {
    position: relative; /* 위아래로 쌓기 */
	flex-direction: column; /* 부모 요소를 꽉 채우기 */
	align-items: flex-start;
	justify-content: center;
	width: 100%; 
	position: relative;
}

.search_content {
	display: flex; /* 寃��깋李�, �씤�썝�닔, �븘�꽣瑜� �븳 以꾩뿉 諛곗튂 */
	align-items: center;
/* 	border-bottom: 1px solid #d2d2d2; */
	width: 100%;
	height: 60px;
}

.search_input_wrapper, .search_info, .filter_wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.search_input_wrapper {
	flex-grow: 8; /* 寃��깋李쎌씠 遺�紐� �슂�냼�쓽 60%瑜� 李⑥��븯�룄濡� */
/* 	border-right: 1px solid #d2d2d2; */
	border-right: 0.5px solid #dfdfdf;
	justify-content: flex-start; /* �븘�씠肄섍낵 �뀓�뒪�듃 �븘�뱶瑜� �쇊履쎌쑝濡� �젙�젹 */
	height: 100%;
}

.search_info {
	flex-grow: 2; /* �씤�썝�닔媛� 遺�紐� �슂�냼�쓽 30%瑜� 李⑥��븯�룄濡� */
/* 	border-right: 1px solid #d2d2d2; */
	border-right: 1px solid #dfdfdf;
}

.filter_wrapper {
	flex-grow: 1; /* �븘�꽣媛� 遺�紐� �슂�냼�쓽 10%瑜� 李⑥��븯�룄濡� */
}

.search_input {
	width: 100%; /* 遺�紐� �슂�냼瑜� 苑� 梨꾩슦湲� */
	display: flex; /* �븘�씠肄섍낵 �뀓�뒪�듃 �븘�뱶瑜� �븳 以꾩뿉 諛곗튂 */
	height: 95%;
	position: relative;
}

.search_input_text {
	width: 100%; /* �븘�씠肄섏쓣 移⑤쾾�븯吏� �븡�뒗 踰붿쐞 �궡�뿉�꽌 遺�紐⑥쓽 �꼫鍮꾨�� 紐⑤몢 李⑥� */
	margin-left: 5px; 
	font-size: 16px;
	font-weight: bold;
	border: 1px solid #FFF;
	padding-left: 20px;
	color: #3FAFFC;
	
}

.search_icon {
	position: absolute; /* �븘�씠肄섏쓽 �쐞移섎�� �젅���쟻�쑝濡� �꽕�젙 */
/* 	right: 10px; �삤瑜몄そ �걹�뿉�꽌 �븘�씠肄섏쓽 �쐞移� �꽕�젙 */
	right: 20px; /* �삤瑜몄そ �걹�뿉�꽌 �븘�씠肄섏쓽 �쐞移� �꽕�젙 */
	top: 50%; /* �븘�씠肄섏쓣 �엯�젰 �븘�뱶�쓽 以묒븰�뿉 �쐞移섏떆�궎湲� �쐞�빐 異붽� */
	transform: translateY(-50%); /* �븘�씠肄섏쓣 �엯�젰 �븘�뱶�쓽 以묒븰�뿉 �쐞移섏떆�궎湲� �쐞�빐 異붽� */
	cursor: pointer;
}

.search_filter {
	display: flex;
	justify-content: space-between; /* �븘�꽣 �샃�뀡�뱾�쓣 �룞�씪�븳 媛꾧꺽�쑝濡� 諛곗튂 */
}

.filter_option {
	flex-basis: 33.33%; /* 媛곴컖 1/3�쓽 怨듦컙�쓣 李⑥��븯�룄濡� */
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 10px; /* 媛� �떒異� �궗�씠�뿉 媛꾧꺽�쓣 �쓣�� */
	width: 90px; /* �떒異붿쓽 �꼫鍮꾨�� �뒛由� */
	height: 40px;
}

.menu_option {
	flex-basis: 33.33%; /* 媛곴컖 1/3�쓽 怨듦컙�쓣 李⑥��븯�룄濡� */
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 10px; /* 媛� �떒異� �궗�씠�뿉 媛꾧꺽�쓣 �쓣�� */
	width: 30%; /* �떒異붿쓽 �꼫鍮꾨�� �뒛由� */
	height: 30%;	
}

a {
	color: #000;
}

.location_button, .distance_button, .cuisine_button, .user_button, .login_button, .bell_button, .support_button {
	border: none; /* 踰꾪듉 湲곕낯 �뀒�몢由� �젣嫄� */
	background-color: transparent; /* 諛곌꼍�깋 �젣嫄� */
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    box-sizing: content-box !important;
}
#table_modal {
   position: absolute;
    left: 0;
    top: 100%; /* 寃��깋 諛� 諛붾줈 �븘�옒 */
    width: 100%; /* 遺�紐� 而⑦뀒�씠�꼫 �꼫鍮꾩뿉 留욊쾶 */
    height : 250px;
    max-width: none; /* �꼫鍮� �젣�븳 �젣嫄� */
    min-width: 500px; /* 理쒖냼 �꼫鍮� �꽕�젙 */
    max-height: 600px; /* �쟻�떦�븳 理쒕� �넂�씠 �꽕�젙 */
    overflow-y: auto; /* �궡�슜�씠 �꽆移� 寃쎌슦 �뒪�겕濡� �몴�떆 */
    background-color: #fefefe;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
    z-index:90;
}

#confirm {
	 position: absolute; /* 紐⑤떖 �궡遺��뿉�꽌�쓽 �젅�� �쐞移� */
    bottom: -25px; /* 紐⑤떖 �븯�떒�뿉�꽌�쓽 �쐞移� */
    left: 50%; /* 紐⑤떖�쓽 以묒븰�뿉 �쐞移� */
    transform: translateX(-50%); /* X異뺤쑝濡� -50% �씠�룞�븯�뿬 以묒븰 �젙�젹 */
}

.close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

h2 {
    width: 100%;
    text-align: center;
    padding: 20px;
}

.input-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0;
    box-sizing: content-box !important;
}

.date-group, .persons-group {
    display: flex;
    align-items: center;
    box-sizing: content-box !important;
}

.persons-group {
    align-items: center;
    box-sizing: content-box !important;
}

.input-group label {
    margin: 0 10px;
    box-sizing: content-box !important;
}

.arrow {
    cursor: pointer;
    margin: 0 10px;
    
}
/* 釉뚮씪�슦���쓽 湲곕낯 �씪�뵒�삤 踰꾪듉 �뒪���씪�쓣 �닲源� */
.input-group input[type="radio"],
.persons-group input[type="radio"] {
    display: none !important;
}

/* �씪�뵒�삤 踰꾪듉�쓽 �씪踰⑥쓣 �룞洹몃� 踰꾪듉 紐⑥뼇�쑝濡� �뒪���씪留� */
.input-group label,
.persons-group label {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 5px;
    border: 2px solid #888;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: #fff;
    cursor: pointer;
    box-sizing: content-box !important;
}

.time-group label {
    width: 50px;
    height: 50px;
        display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 5px;
    border: 2px solid #888;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    box-sizing: content-box !important;
    text-align: center;
    /* 湲고� �뒪���씪 */
}

/* �씪�뵒�삤 踰꾪듉�씠 �꽑�깮�릺�뿀�쓣 �븣�쓽 �뒪���씪 */
.input-group input[type="radio"]:checked + label,
.persons-group input[type="radio"]:checked + label {
    background-color: #888;
    color: #fff;
}
.date-label {
    font-weight: 700; /* �썝�븯�뒗 �궗�씠利덈줈 議곗젙�븯�꽭�슂 */
    margin-right: 20px;
    margin-left : 20px;
    box-sizing: content-box !important;
    /* 湲고� �뒪���씪 */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#filterModal {
    position: absolute; /* �젅�� �쐞移� �궗�슜 */
    top: 100%; /* �븘�꽣 �븘�씠肄섏쓽 �넂�씠留뚰겮 �븘�옒�뿉 �쐞移� */
    left: 0; /* �쇊履� �젙�젹 */
    width: 450px; /* �쟻�젅�븳 �꼫鍮� �꽕�젙 */
    height: 550px;
    /* 湲고� �뒪���씪 �꽕�젙 */
}

.filter-modal-content {
 	width: 100%; /* 紐⑤떖李쎌쓽 �꼫鍮꾨�� �쟾泥대줈 �꽕�젙 */
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; /* 紐⑤떖李쎌쓽 �궡�슜�쓣 媛��슫�뜲 �젙�젹 */
    justify-content: center; /* �꽭濡� 諛⑺뼢�뿉�꽌�룄 媛��슫�뜲 �젙�젹 */
    background-color: #fefefe;
    padding: 20px; /* �뙣�뵫 異붽� */
    box-sizing: border-box; /* �뙣�뵫怨� 蹂대뜑瑜� �룷�븿�븳 �꼫鍮� 怨꾩궛 */
    
}

.filter-modal-content h2 {
    text-align: center; /* �뿤�뜑 �뀓�뒪�듃 媛��슫�뜲 �젙�젹 */
    margin-bottom: 20px; /* �뿤�뜑�� �궡�슜 �궗�씠 媛꾧꺽 異붽� */
}

.modal-footer {
    bottom: 0;          /* 諛붾떏�뿉 怨좎젙 */
    position: sticky;   /* �뒪�겕濡ㅽ빐�룄 �솕硫댁뿉 怨좎젙�릺�룄濡� �꽕�젙 */
    bottom: 0;          /* 遺�紐� �슂�냼�쓽 �쟾泥� �꼫鍮꾨�� 李⑥��븯�룄濡� �꽕�젙 */
    align-items: center; 
    justify-content: center;
    
}

.filter-content {
    display: flex;
    justify-content: space-between; /* 媛� �빆紐� 媛� 媛꾧꺽 議곗젙 */
    width: 100%;
    overflow: auto;
    
}

.filter-list {
    list-style-type: none; /* 由ъ뒪�듃 �뒪���씪 �젣嫄� */
    padding: 0; /* 湲곕낯 �뙣�뵫 �젣嫄� */
    text-align: center; /* �뀓�뒪�듃 媛��슫�뜲 �젙�젹 */
}


.sub-list, .detail-list {
      display: flex;
    flex-direction: column;
    align-items: center; /* �빆紐⑹쓣 媛��슫�뜲 �젙�젹 */
    text-align: center; /* �뀓�뒪�듃 媛��슫�뜲 �젙�젹 */
}
.filter-list, .sub-list, .detail-list {
    display: flex;
    flex-direction: column;
    align-items: stretch; /* 紐⑤뱺 �빆紐⑹쓽 湲몄씠瑜� 留욎땄 */
    list-style-type: none;
    padding: 0;
    margin: 0; /* 媛꾧꺽 �젣嫄� */
}

.filter-item, .sub-list > li, .detail-list > li {
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 5px; /* �빆紐� 媛� 媛꾧꺽 異붽� */
}

.filter-item > span:hover {
    cursor: pointer;
}


.filter-item,
.sub-list > li,
.detail-list > li {
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ddd;
}

.filter-item > span:hover {
    cursor: pointer;
}

.sub-list input[type="radio"],
.detail-list input[type="radio"] {
    display: none !important;
}

li.selected {
    background-color: lightblue; /* �썝�븯�뒗 諛곌꼍 �깋�긽�쑝濡� �꽕�젙 */
    /* 異붽��쟻�씤 �뒪���씪留� */
}

input[type="range"] {
    width: 100%;
}