@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap'); 

body {  
    font-family:"Noto Sans KR", -apple-system, Roboto, "Open Sans", sans-serif;
    font-style:normal;
    letter-spacing:-.0437rem;
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale; 
    background-color: #f0f0f0;
    width: 100%; 
    z-index: 0;
    -ms-overflow-style: none; 
    height: 100%; 
    margin: 0; 
    min-width: 1500px; 
    overflow-x: hidden; 
    position: relative; 
    scrollbar-width: none;
}  

.header-container { 
    display: flex; 
    justify-content: center; 
    width: 100%; 
    height: 130px; 
    border-bottom: 1px solid rgb(234, 234, 234); 
    background-color: #f0f0f0;
} 

.header-content { 
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    width: 100%; 
    height: 100%; 
    padding: 0 5px; 
    box-sizing: border-box;
} 

.logo-container { 
    flex: 15%; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
} 

.search-bar-wrapper { 
    flex: 70%; 
} 

.auth-icons { 
    flex: 15%; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    box-sizing: border-box; 
    padding-left: 24px; 
    padding-right: 24px;
    white-space: nowrap;
} 

.logo-container .logo-img  { 
    max-width: 100%; 
    height: auto;
} 

.auth-icons a  { 
    height: 20px; 
    line-height: 20px; 
    font-size: 0.875rem; 
    color: rgb(32, 32, 32);
} 

.auth-icons .icon-login  { 
    width: 2.415rem;
} 

.auth-icons .icon-register  { 
    width: 3.2206rem;
} 

.dropdown_menu {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f0f0f0;
    min-width: 95px;
    z-index: 1;
}

.dropdown_menu:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
