<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.table.zzimkong.vo.MemberVO"  alias="member"/>
		<typeAlias type="com.table.zzimkong.vo.PaymentVO"  alias="payment"/>
		<typeAlias type="com.table.zzimkong.vo.ReservationVO"  alias="res"/>
		<typeAlias type="com.table.zzimkong.vo.CompanyVO"  alias="company"/>
		<typeAlias type="com.table.zzimkong.vo.PreOrderVO"  alias="pre"/>
		<typeAlias type="com.table.zzimkong.vo.PreOrderInfo"  alias="poi"/>
		<typeAlias type="com.table.zzimkong.vo.MenuVO"  alias="menu"/>
		<typeAlias type="com.table.zzimkong.vo.ReviewVO"  alias="review"/>
		<typeAlias type="com.table.zzimkong.vo.ReviewCountVO"  alias="reviewcount"/>
		<typeAlias type="com.table.zzimkong.vo.ReviewMenuVO"  alias="reviewmenu"/>
	</typeAliases>
</configuration>